<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <!-- Bootstrap (optional) -->
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />

    <!-- MudBlazor CSS -->
    <link rel="stylesheet" href="_content/MudBlazor/MudBlazor.min.css" />

    <!-- Bootstrap Icons (if you use bi classes) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />

    <!-- Material Icons (optional, used by some MudBlazor components) -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="InstMiggD.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <!-- Use o script do Blazor Server quando estiver em InteractiveServerRenderMode -->
    <script src="_framework/blazor.server.js"></script>
</body>

</html>
